<!DOCTYPE html>
<html>
<head>
	<title>Operation Result</title>
</head>
<body>
	<h1>Operation Result</h1>
	<p>The result of performing "<%= operation %>" on <%= left %> and <%= right %> is: <%= result %></p>
</body>
</html>
