/* ta02.css */

.div-first {
	background-color: #00BCD4;
	font-size: 2em;
}

.div-later {
	font-size: 0.7em;
}

#div2 {
	background-color: #4DD0E1;
}

#div3 {
	background-color: #B2EBF2;
}

.hover-bold:hover {
	font-weight: bold;
}